Repository MetaAir2023/MetaRPG, pull requests merged in 2023-06, with the labels that each got.

#27 Feature/hunt
  src/main/java/com/ohgiraffers/metaRPG/application/Service/HuntService.java
  src/main/java/com/ohgiraffers/metaRPG/application/Service/UpgradeService.java
  src/main/java/com/ohgiraffers/metaRPG/application/Service/UserInfoService.java
  src/main/java/com/ohgiraffers/metaRPG/application/controller/HuntController.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/MonsterDTO.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/HuntService.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/UpgradeService.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/UserInfoService.java
  src/main/java/com/ohgiraffers/metaRPG/domain/entity/MonsterEntity.java
  src/main/java/com/ohgiraffers/metaRPG/domain/repository/MonsterRepository.java
  src/main/java/com/ohgiraffers/metaRPG/domain/service/HuntService.java
  src/main/java/com/ohgiraffers/metaRPG/infra/MonsterDB.java
Labels: 🎶features

#26 [#24] Domain UpgradeService calculateUpgradeItem 메서드 수정
  src/main/java/com/ohgiraffers/metaRPG/domain/service/UpgradeService.java
  src/test/java/com/ohgiraffers/metaRPG/domain/service/UpgradeServiceTests.java
Labels: ⚔️item, 🏗️ Refactoring

#18 Feature/userDB, Repository and Entity
  src/main/java/com/ohgiraffers/metaRPG/domain/entity/UserEntity.java
  src/main/java/com/ohgiraffers/metaRPG/domain/repository/UserRepository.java
  src/main/java/com/ohgiraffers/metaRPG/infra/UserDB.java
Labels: 🏥help, 🎶features, 🧒🏻 User

#29 [#23] testCalculateRandomValue 테스트 메서드 이름 수정
  src/test/java/com/ohgiraffers/metaRPG/domain/service/UpgradeServiceTests.java
Labels: 🐬test, ⚔️item, 🏗️ Refactoring

#33 HuntDomainService 수정 & Test Code 작성
  src/main/java/com/ohgiraffers/metaRPG/domain/service/HuntDomainService.java
  src/test/java/com/ohgiraffers/metaRPG/domain/service/HuntDomainServiceTest.java
Labels: 🐬test, 👻bug fix, 🧌Hunt

#37 HP Bar 개발 & Test
  src/main/java/com/ohgiraffers/metaRPG/domain/service/HuntDomainService.java
  src/test/java/com/ohgiraffers/metaRPG/domain/service/HuntDomainServiceTest.java
Labels: 🎶features, 🧌Hunt

#39 UpgradeDomainService 수정
  src/main/java/com/ohgiraffers/metaRPG/domain/entity/ItemEntity.java
  src/main/java/com/ohgiraffers/metaRPG/domain/service/UpgradeDomainService.java
  src/main/java/com/ohgiraffers/metaRPG/infra/ItemDB.java
  src/main/resources/metaRPG/domain/service/upgrade.properties
  src/test/java/com/ohgiraffers/metaRPG/domain/service/UpgradeServiceTests.java
Labels: 👍upgrade, 🎶features, 🐬test, ⚔️item, 🏗️ Refactoring

#42 StartScreen 추가
  src/main/java/com/ohgiraffers/metaRPG/StartScreen.java
Labels: 🎶features

#48 UpgradeController 관련 주요 메소드 구현
  src/main/java/com/ohgiraffers/metaRPG/application/controller/UpgradeController.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/item/BuyItemDTO.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/item/CreateItemDTO.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/item/UpgradeItemDTO.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/item/UpgradeResultDTO.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/UpgradeApplicationService.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/UpgradeService.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/UserInfoService.java
  src/main/java/com/ohgiraffers/metaRPG/domain/entity/ItemEntity.java
  src/main/java/com/ohgiraffers/metaRPG/domain/entity/UserEntity.java
  src/main/java/com/ohgiraffers/metaRPG/domain/repository/UserRepository.java
  src/main/java/com/ohgiraffers/metaRPG/domain/service/UpgradeDomainService.java
  src/main/java/com/ohgiraffers/metaRPG/infra/UserDB.java
  src/test/java/com/ohgiraffers/metaRPG/application/controller/UpgradeControllerTest.java
  src/test/java/com/ohgiraffers/metaRPG/application/service/UpgradeApplicationServiceTest.java
  src/test/java/com/ohgiraffers/metaRPG/domain/service/UpgradeServiceTests.java
Labels: 🎶features, 🐬test, ⚔️item, 🏗️ Refactoring

#49 강화 컨트롤러 구현 완료
  src/main/java/com/ohgiraffers/metaRPG/Application.java
  src/main/java/com/ohgiraffers/metaRPG/application/Service/HuntApplicationService.java
  src/main/java/com/ohgiraffers/metaRPG/application/Service/UpgradeApplicationService.java
  src/main/java/com/ohgiraffers/metaRPG/application/Service/UserInfoService.java
  src/main/java/com/ohgiraffers/metaRPG/application/View.java
  src/main/java/com/ohgiraffers/metaRPG/application/controller/HuntController.java
  src/main/java/com/ohgiraffers/metaRPG/application/controller/UpgradeController.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/item/ShowUserItemDTO.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/UpgradeApplicationService.java
  src/main/java/com/ohgiraffers/metaRPG/application/service/UserInfoService.java
  src/main/java/com/ohgiraffers/metaRPG/domain/entity/ItemEntity.java
  src/main/java/com/ohgiraffers/metaRPG/domain/repository/UserRepository.java
  src/main/java/com/ohgiraffers/metaRPG/domain/service/UpgradeDomainService.java
  src/main/java/com/ohgiraffers/metaRPG/infra/UserDB.java
  src/test/java/com/ohgiraffers/metaRPG/application/Service/UpgradeApplicationServiceTest.java
  src/test/java/com/ohgiraffers/metaRPG/application/controller/UpgradeControllerTest.java
Labels: 🎶features, 🐬test, ⚔️item, 🏗️ Refactoring

#51 [Hunt] HuntController / HuntApplicationService / View + 그 외 일부 코드 추가 수정
  src/main/java/com/ohgiraffers/metaRPG/application/Service/HuntApplicationService.java
  src/main/java/com/ohgiraffers/metaRPG/application/View.java
  src/main/java/com/ohgiraffers/metaRPG/application/controller/HuntController.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/MonsterDTO.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/UserDTO.java
  src/main/java/com/ohgiraffers/metaRPG/domain/repository/MonsterRepository.java
  src/main/java/com/ohgiraffers/metaRPG/domain/service/HuntDomainService.java
  src/test/java/com/ohgiraffers/metaRPG/domain/service/HuntDomainServiceTest.java
Labels: 🏥help, 🎶features, 🐬test, 👻bug fix, 🧌Hunt

#53 View class 간단 수정
  src/main/java/com/ohgiraffers/metaRPG/Application.java
  src/main/java/com/ohgiraffers/metaRPG/BGM.java
  src/main/java/com/ohgiraffers/metaRPG/StartScreen.java
  src/main/java/com/ohgiraffers/metaRPG/application/View.java
Labels: 🏗️ Refactoring

#55 ViewUpgrade 수정
  src/main/java/com/ohgiraffers/metaRPG/application/View.java
  src/main/java/com/ohgiraffers/metaRPG/application/controller/UpgradeController.java
  src/main/java/com/ohgiraffers/metaRPG/infra/UserDB.java
Labels: 🏗️ Refactoring

#56 view 공격 시 이펙트 추가, 메뉴 선택 시 println -> print 수정
  src/main/java/com/ohgiraffers/metaRPG/AttackEffectThread.java
  src/main/java/com/ohgiraffers/metaRPG/application/View.java
Labels: 🎶features

#73 [Upgrade] UpgradeDomainService 로깅용 Aspect 적용
  build.gradle
  src/main/java/com/ohgiraffers/metaRPG/ContextConfiguration.java
  src/main/java/com/ohgiraffers/metaRPG/domain/aop/UpgradeDomainLoggingAspect.java
  src/main/java/com/ohgiraffers/metaRPG/domain/service/UpgradeDomainService.java
Labels: 🎶features, ⚔️item, 🏗️ Refactoring

#71 [User] 사용하지 않는 메소드 삭제 및 순서 제대로 수정
  src/main/java/com/ohgiraffers/metaRPG/application/Service/UserApplicationService.java
  src/main/java/com/ohgiraffers/metaRPG/application/View.java
  src/main/java/com/ohgiraffers/metaRPG/application/controller/UserInfoController.java
  src/main/java/com/ohgiraffers/metaRPG/application/dto/UserDTO.java
  src/main/java/com/ohgiraffers/metaRPG/domain/entity/UserEntity.java
  src/main/java/com/ohgiraffers/metaRPG/domain/repository/UserRepository.java
  src/main/java/com/ohgiraffers/metaRPG/infra/UserDB.java
Labels: 🧒🏻 User, 🏗️ Refactoring
